/* Styles of header */
h1 {
font-size: 25px;
font-family: 'Montserrat', sans-serif;
background-color:lightslategray;
color:rgb(34, 3, 107);
padding: 10px;
}

/* Style of image */
.bio-image {
    margin: 20px;
}

/* Style of About Me Section */
.about-me, .contact, .portfolio {
    width: 70%;
    padding: 20px;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
}

a.link {
    color: white;
}

.home, .contact, .portfolio, .brand {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.brand {
    font-size: 25px;
}

#contact {
    width: 70%;
    padding: 20px;
}

.submit {
   background-color: blue;
   color: white;
   margin: 20px;
}