/* Style of text */
.home, .contact, .portfolio-link {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(21, 9, 92);
    padding: 3px;
    margin-right: 20px;  
}

/* Style of ampersand */
.ampersand {
    margin-right: 10px;
}

/* 'Style of brand' */
.brand {
    font-family: 'Montserrat', sans-serif;
    color:rgb(21, 9, 92);
    font-size: 25px;
    margin-right: 700px;
}

/* Style of image */
.bio-image {
    margin: 20px;
    float: left;
}

/* Style of About Me Section */
.about-me, #contact, .portfolio {
    padding: 20px;
}

/* Style of footer on about-me-page */
.navbar-brand {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
}

/* Styles of portfolio */
.portfolio-text {
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Style of links on cards */
.link {
    text-align: center;
    margin-top: 10px;
    }

/* Style of headers */
 h2, h3 {
     color: lightslategray;
     margin-left: 20px;
     margin-top: 10px;
      }   

/* Style of links on contact me page */
.link {
     color:red;
      }

/* Style of submit button */
.submit {
   background-color: lightslategrey;
   color: white;
   margin: 20px;
}

/* Style of @media */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightgray;
    }
  }